.MovieCardGeneral {
    width: 200px;
    height: 100%;
}

.Title {
    margin: 10px 0 1px 5px;
    /*height: 4.1vh;*/
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    color: #02192c;
}

.Release_date_and_rating {
    width: 200px;
    height: 13%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.RatingStar {
    padding-left: 1%;
    width: 22%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.RatingStar p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6vh;
    font-weight: lighter;
    color: #02192c;
}